# Node modules
/node_modules/

# Logs
*.log
npm-debug.log*

# Build output
/dist/
build/

# Dependency directories
bower_components/

# Environment files
.env
.env.local
.env.*.local

# MacOS specific files
.DS_Store

# VSCode specific files
.vscode/

# System files
Thumbs.db

# npm package lock
package-lock.json
